{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="col-lg-10 col-md-10 mx-auto">
    <div class="text-center">
        <input type="button" class="btn btn-light" value="Gerar PDF" id="btnImprimir" onclick="CriaPDF()" />
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal1">
          Transcrição
        </button>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal2">
          Documentos
        </button>
    </div>
    <br>
  <table class="table medium table-striped" id="registro">
<!--      REFERENCIAS     -->
    <td class="text-center font-weight-bold" colspan="2">Referências</td>
    <tr><td width="130">Referência</td><td width="500">{{request.reference}}</td></tr>
    <tr><td width="130">Data de Concessão</td><td width="500">{{request.deferment.concessionDate}}</td></tr>
<!--      SESMARIA     -->
      <td class="text-center font-weight-bold" colspan="2">Sesmaria</td>
    <tr><td width="130">Localidade</td><td width="500">{{request.landRecord.location}}</td></tr>
    <tr><td width="130">Ribeira</td><td width="500">{{request.landRecord.ribeira}}</td></tr>
    <tr><td width="130">Área</td><td width="500" id="area">{{ request.landRecord.dimenssion }}m²</td></tr>
    <tr><td width="130">Largura</td><td width="500" id="largura">{{request.landRecord.hectareArea}}m</td></tr>
    <tr><td width="130">Comprimento</td><td width="500" id="comprimento">{{request.landRecord.hectareAreaToal}}m</td></tr>
    <tr><td width="130">Confrontantes</td><td width="500">{{request.landRecord.limitants}}</td></tr>
    <tr><td width="130">Quantidade de Sesmeiros na carta</td><td width="500">{{request.owners.count}}</td></tr>
    <tr><td width="130">Solicitaram mesma medida</td><td width="500">{% if request.sameMeasure %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Quantidade de Sesmeiros na carta</td><td width="500">{{request.owners.count}}</td></tr>
    <tr><td width="130">Histórico</td><td width="500">{{request.landRecord.history.type}}</td></tr>
    <tr><td width="130">Valor da Compra</td><td width="500">{{request.landRecord.history.comments}}</td></tr>
    <tr><td width="130">Observações sobre a sesmaria</td><td width="500">{{request.landRecord.comments}}</td></tr>


<!--        SESMEIRO        -->
    <tr><td width="130" class="text-center font-weight-bold" colspan="2">Sesmeiros</td></tr>
    {% for owner in request.owners.all %}
      <tr><td width="130" class="text-center font-weight-bold" colspan="2">Sesmeiro</td></tr>
         <tr><td width="130">Nome do sesmeiro</td><td width="500">{{owner.name}}</td></tr>
         <tr><td width="130">Nome original</td><td width="500">{{owner.originalName}}</td></tr>
         <tr><td width="130">Estado Civil</td><td width="500">{{owner.matrialStatus}}</td></tr>
         <tr><td width="130">Indio</td><td width="500">{% if owner.indian %} Sim {% else %} Não {% endif %}</td></tr>
         <tr><td width="130">Ordem religiosa</td><td width="500">{{owner.religiousOrder}}</td></tr>
         <tr><td width="130">Capitania que reside</td><td width="500">{{owner.captancyResident}}({{owner.captancyResident.initials}})</td></tr>
         <tr><td width="130">Clero Secular</td><td width="500">{% if owner.secularClergy %} Sim {% else %} Não {% endif %}</td></tr>
         <tr><td width="130">Clero Regular</td><td width="500">{% if owner.regularClergy %} Sim {% else %} Não {% endif %}</td></tr>
         <tr><td width="130">Comentário</td><td width="500">{{owner.comments}}</td></tr>
         <tr><td width="130">Observações privilegiadas</td><td width="500">{{owner.privilegiedComments}}</td></tr>
    {% endfor %}


<!--        REQUERIMENTO        -->
    <td class="text-center font-weight-bold" colspan="2">Requerimento</td>
    <tr><td width="130">Tipo de Requerimento</td><td width="500">{{request.type.name}}</td></tr>
    <tr><td width="130">Comentários</td><td width="500">{{request.comments}}</td></tr>
    <tr><td width="130">Observações privilegiadas</td><td width="500">{{request.privilegiedComments}}</td></tr>
    {% if request.link == "NA" %}
    {% else %}
      <tr><td width="130">Links</td><td width="500">{{request.link}}</td></tr>
    {% endif %}

<!--      JUSTIFICATIVAS        -->
    <td class="text-center font-weight-bold" colspan="2">Justificativas</td>
    <tr><td width="130">Justificativas</td><td width="500">
      {% for justificativa in request.justificafion.all %}
        {{justificativa.justification}};<br>
      {% endfor %}
    </td></tr>
    <tr><td width="130">Comentários da Justificativas</td><td width="500">{{request.commentsJustification}}</td></tr>

<!--      EXIGÊNCIAS        -->
    <td class="text-center font-weight-bold" colspan="2">Exigências</td>
    <tr><td width="130">Exigências</td><td width="500">
      {% for demand in request.demands.all %}
        {{demand.demand}};<br>
        {% if deman.comments %} <tr><td width="130">Observações sobre as exigências</td><td width="500">{{request.demands.comments}}</td></tr> {%endif%}
      {% endfor %}
    </td></tr>
    <tr><td width="130">Comentários da Justificativas</td><td width="500">{{request.landRecord.commentsDemands}}</td></tr>

<!--      DEFERIMENTOS      -->
    <td class="text-center font-weight-bold" colspan="2">Deferimentos</td>
    <tr><td width="130">Foi deferido</td><td width="500">{% if request.deferment.defered %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Forma</td><td width="500">{{request.deferment.DefermentForm.form}}</td></tr>

     <td class="text-center font-weight-bold" colspan="2">Deferimento (Registro)</td>
    <tr><td width="130">Data de registro</td><td width="500">{{request.deferment.DefermentRegister.date}}</td></tr>
    <tr><td width="130">Local do Registro registro</td><td width="500">{{request.deferment.DefermentRegister.local}}</td></tr>
    <tr><td width="130">Livro registro</td><td width="500">{{request.deferment.DefermentRegister.book}}</td></tr>
    <tr><td width="130">Escrivão Responsável</td><td width="500">{{request.deferment.DefermentRegister.scriviner}}</td></tr>

      <td class="text-center font-weight-bold" colspan="2">Deferimentos (Autoridade)</td>
    <tr><td width="130">Autoridade</td><td width="500">{{request.deferment.DefermentAuthority.name}}</td></tr>
    <tr><td width="130">Título</td><td width="500">{{request.deferment.DefermentAuthority.title}}</td></tr>

    <tr><td width="130" class="text-center font-weight-bold" colspan="2">Deferimentos (Tramitações)</td></tr>
      <tr><td width="130">Provedor</td><td width="500">{{request.deferment.defermentTramitations.nameProvider}}</td></tr>
      <tr><td width="130">Procurador</td><td width="500">{{request.deferment.defermentTramitations.nameAttorney}}</td></tr>
      <tr><td width="130">Camarario</td><td width="500">{{request.deferment.defermentTramitations.nameAssembly}}</td></tr>
      <tr><td width="130">Escrivão</td><td width="500">{{request.deferment.defermentTramitations.nameScriviner}}</td></tr>


    <tr><td width="130" class="text-center font-weight-bold" colspan="2">Confirmações</td></tr>
    <tr><td width="130">Confirmado em Lisboa</td><td width="500">{% if request.confirmation.confirmationLisbon %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Concessão presencial</td><td width="500">{% if request.confirmation.concessionPresential %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Concessão igualitária</td><td width="500">{% if request.confirmation.concessionEqual %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Carta de confirmação presencial</td><td width="500">{% if request.confirmation.confirmationCardPresential %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Carta de confirmação de registro</td><td width="500">{% if request.confirmation.confirmationCardRegistred %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Data de confirmação</td><td width="500">{{request.confirmation.dateRequest}}</td></tr>
    <tr><td width="130">Nome do Rei</td><td width="500">{{request.confirmation.kingName}}</td></tr>
    <tr><td width="130">Nome do escrivão</td><td width="500">{{request.confirmation.scrivinerName}}</td></tr>
    <tr><td width="130">Nome do tesoureiro</td><td width="500">{{request.confirmation.treasurerName}}</td></tr>
    <tr><td width="130">Registro geral de merces</td><td width="500">{% if request.confirmation.generalRegisterMerces %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Meias anatas</td><td width="500">{% if request.confirmation.halfValueAnatas %} Sim {% else %} Não {% endif %}</td></tr>
    <tr><td width="130">Outros valores</td><td width="500">{{request.confirmation.otherValue}}</td></tr>
    <tr><td width="130">Comentários</td><td width="500">{{request.confirmation.comments}}</td></tr>
    <tr><td width="130">Tipo de confirmação</td><td width="500">
      {% for type in request.confirmation.type.all %}
        {{type.type}}
      {% endfor %}

    </td></tr>
  </table>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Transcrição</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            {% for file in request.files.all %}
            <embed src="{{file.file.url}}" width="100%" height="400" type="application/pdf">
            {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Documentos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            {% for media in request.medias.all %}
            <embed src="{{media.foto.url}}" width="100%">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

  <script src="{% static 'js/jspdf.min.js' %}"></script>
  <script src="{% static 'JS/jspdf.plugin.autotable.min.js' %}"></script>
  <script>
   function CriaPDF() {
      var doc = new jsPDF();

      doc.autoTable({
      html: '#registro',
      columnStyles: {
          0: {columnWidth: 40},
          1: {columnWidth: 60},      }
      });

      var pageCount = doc.internal.getNumberOfPages();
      for(i = 0; i < pageCount; i++) {
        doc.setPage(i);
        doc.text(90,290, "Sesmarias do Império Luso Brasileiro, documento {{ request.reference }}. " + doc.internal.getCurrentPageInfo().pageNumber + "/" + pageCount);
        doc.setFontSize(10);
       }
       doc.setFontSize(10);
      doc.save('{{request.reference}}.pdf');
    }
  </script>
  <script>
    var legua = 4200;
    var braca = 2.2;
    var metro = "metros"
    var area = document.getElementById("area").innerHTML;
    var largura = document.getElementById("largura").innerHTML;
    var comprimento = document.getElementById("comprimento").innerHTML;
    largura = parseFloat(largura);
    comprimento = parseFloat(comprimento);
    if (area == '0'){ document.getElementById("area").innerHTML = 'NA';}
    else {
      if ({{request.landRecord.bracas}} == 'True'){
          area = area * bracas;
          document.getElementById("area").innerHTML = area + metro;
      } else {
         area = area * legua;
          document.getElementById("area").innerHTML = area + metro;
      }
    }

    if (largura == '0,0'){document.getElementById("largura").innerHTML = 'NA';}
    else {
        if ({{request.landRecord.bracas}} == 'True'){
          largura = largura * bracas;
          document.getElementById("largura").innerHTML = largura + metro;
      } else {
         largura = largura * legua;
          document.getElementById("largura").innerHTML = largura  + metro;
      }
    }

    if (comprimento == '0,0'){document.getElementById("comprimento").innerHTML = 'NA';}
    else {
      if ({{request.landRecord.bracas}} == 'True'){
          comprimento = comprimento * bracas;
          document.getElementById("comprimento").innerHTML = comprimento + metro;
      } else {
         comprimento = comprimento * legua;
          document.getElementById("comprimento").innerHTML = comprimento  + metro;
      }
    }

  </script>
{% endblock %}