{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
<div class="text-justify">
    <b>O sistema sesmarial</b>
A lei de sesmarias foi criada pelo rei português Dom Fernando I, em 1375, e integrava um conjunto de medidas adotadas
    pelo governante com o intuito de combater uma aguda crise de abastecimento por qual passava o reino, condicionando
    o direito à terra a seu efetivo cultivo, traço marcante do reino da efetividade, característica da civilização
    medieval segundo Paolo Grossi. Um dos objetivos da lei era constranger os “donos” de terra a cultivar sua gleba.
    Caso tal condição não fosse observada, a coroa tinha o direito de revogar a concessão e doar a terra em sesmaria a
    outra pessoa que se comprometesse a cultivá-la em tempo pré-determinado por lei. Os sujeitos responsáveis pela aplicação
    da lei eram denominados sesmeiros, em Portugal. Esses eram dois “homens-bons” escolhidos dos membros do concelho,
    equivalente às câmaras municipais da América portuguesa. Essa escolha poderia ser uma indicação direta do rei ou
    realizada pelo próprio concelho, porém estava sujeita à aprovação real. Era responsabilidade dos sesmeiros realizar a
    doação das terras do concelho em sesmaria para os pretendentes que possuíssem as qualidades necessárias para proceder ao
    cultivo da gleba. Estava, também, ao seu cargo verificar se as terras estavam sendo cultivadas e, caso não estivessem,
    deveriam notificar o beneficiário para que este aproveitasse suas terras no prazo de um ano, sendo que o não cumprimento
    desse dever resultaria na revogação da doação. A primitiva lei de Dom Fernando sofreu algumas transformações ao longo do
    tempo, porém o fundamento do cultivo permaneceu imutável e foi perpetuado, junto com a lei das sesmarias, através das Ordenações do Reino.
<br>
Dessa maneira, entende-se por sesmaria uma concessão condicional de terras realizada em nome do rei, segundo Laura Beck Varela. Tal concessão garantia ao beneficiário o domínio útil da terra, porém este domínio estava condicionado ao fundamento do cultivo que, se não observado, acarretaria a anulação da doação que voltava ao domínio real e poderia ser concedida, novamente, em sesmaria a um terceiro sesmeiro.

Transcorridos 155 anos da codificação da Lei das Sesmarias, esse instituto jurídico português foi transplantado para o Brasil, em 1530, através da carta de poderes concedida a Martim Afonso de Sousa, quando enviado às terras da América portuguesa no comando de uma expedição colonizadora. Assim, a coroa pretendia utilizar as sesmarias para incentivar a colonização do território, ainda inexplorado.

A opção pelo instituto jurídico das sesmarias, na América, não foi ao acaso. A coroa portuguesa já o havia utilizado, com êxito, na colonização das ilhas atlânticas e do próprio território português, no povoamento de regiões fronteiriças durante a guerra com Castela e, ao se deparar com a tarefa de colonizar o território brasileiro, se valeu dessa experiência.

Ulteriormente, em 1534, Dom João III, resolveu implantar no Brasil o sistema de capitanias hereditárias. A par desse novo sistema, as sesmarias continuaram a figurar na colonização americana, sendo uma das principais funções dos capitães – donatários, em suas capitanias, dar “todas terras dela em sesmaria, a quaisquer pessoas de qualquer qualidade e condição que sejam.”

Era outorgado aos donatários o poder para conceder sesmarias, porém eram proibidos de passar carta de sesmaria em seu nome, de sua mulher e de seu filho herdeiro. Além disso, um donatário somente poderia adquirir uma sesmaria por compra “passado oito anos de serem aproveitadas pelos primitivos concessionários”. Percebe-se, por meio dessas medidas adotadas pela coroa e expressas nos forais das capitanias, que houve uma preocupação da coroa em impedir que os donatários utilizassem o poder conferido a eles em proveito próprio, evidenciando a importância com que o sistema de sesmarias era tratado por Portugal.

O instituto reaparece no regimento entregue a Tomé de Souza, em 17 de dezembro de 1548, quando este foi nomeado Governador Geral do Brasil. No tocante às sesmarias, este trazia um dispositivo especial, que restringia a doação de terras, propicias para se fazer engenho, a pessoas que possuíssem o cabedal necessário para tal fim. Isso demonstra claramente a intenção da coroa em promover o cultivo da cana-de-açúcar, no Brasil, porém não permite afirmar que todos os sesmeiros possuíssem tal cabedal pois, como destacou Ruy Cirne Lima, os aspirantes a uma concessão não hesitavam em usar como justificativas, em seus requerimentos, ter o cabedal exigido em lei mesmo não sendo a expressão da verdade. Tal situação evidencia a disparidade que havia entre a lei e o que ocorria de fato.

Porém, diferenças entre a metrópole e a colônia contribuíram para que esse instituto sofresse algumas transformações. Era necessária a criação de uma legislação própria, para sua aplicação nas terras luso-americanas, que levasse em consideração as peculiaridades desta como, por exemplo, a grande extensão de terra a se povoar e o desafio de implementar uma administração colonial.

Os esforços da coroa em regularizar o sistema de sesmarias não surtiram o efeito desejado, o que se conclui pelo vultoso número de cartas régias que versaram sobre o tema. Datam do final do século XVII as primeiras cartas régias que procuravam estabelecer um limite para as concessões de sesmarias, e essa mesma preocupação figurou em ordens posteriores, o que mostra que a questão não havia sido resolvida e persistiu ao longo da época colonial. Não é de se admirar que a questão dos limites e demarcação das sesmarias, uma obrigação do sesmeiro para regularizar a posse de sua terra, presente em grande parte das cartas de concessão emitidas no período, não tenha sido cumprida e mesmo quando os limites eram mencionados nas cartas estes eram vagos e se restringiam à menção de marcos geográficos naturais ou de algum sesmeiro que possuísse sesmaria na região.

Um dos problemas oriundos dessa fluidez dos limites era o avanço que os sesmeiros perpetravam nas regiões limítrofes de suas sesmarias o que gerava, em alguns casos, litígios envolvendo sesmeiros e posseiros sobre a validade e a real extensão das sesmarias. Tais litígios ocorriam também entre grandes e pequenos sesmeiros refletindo assim a existência de uma grande tensão no campo e a luta pela manutenção do domínio.

Nesses litígios, muitas decisões tomadas pelas autoridades coloniais eram contestadas e as partes envolvidas buscavam uma solução junto ao monarca e dessa maneira atuavam em favor do poder real, na medida em que os senhores reconheciam e procuravam nele o poder para resolver esses conflitos.

Percebe-se, desta maneira, as múltiplas facetas que a sesmaria assumiu na colônia. Além de atuar como forma de acesso à terra e ao poder entre os colonos, o sistema contribuía para reforçar o poder central, exercido pelo Estado.
</div>
</div>
{% endblock %}