<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

      {% if title %}
        <title>SILB - {{ title }}</title>
    {% else %}
        <title>SILB</title>
    {% endif %}

  {% load static%}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index'%}">{% if user.is_authenticated %} SILB - {{ user.get_short_name }} {% else %} SILB {% endif %}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'pesquisa'%}">Banco</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
           {% if user.is_authenticated %}
             <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Sair</a></li>
           {% else %}
             <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Entrar</a></li>
           {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.ibb.co/hVPdJNT/silb-fundo.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="site-heading">
              <h1>SILB</h1>
              <span class="subheading">Sesmarias do Império Luso Brasileiro</span>
              <br>
            </div>
            </div>
          </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        {% block content %}{% endblock %}
        <div class="col-lg-12 col-md-10 mx-auto">
        {% block pagination %}
            <div class="btn-toolbar">
                <div class="btn-group btn-group-sm small">
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><button class="btn btn-light btn-small"><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></button></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <button class="btn btn-light" type="submit"><li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li></button>
                                {% else %}
                                    <button class="btn btn-light"><li><a href="?page={{ i }}">{{ i }}</a></li></button>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <button class="btn btn-light"><li><a href="?page={{ page_obj.next_page_number }}">Próximo</a></li></button>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://fb.com/lehs">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/passjoao/silb_project">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted"><a href="https://www.ufrn.br/">UFRN</a> &copy; <a href="http://lehs.ufrn.br">LEHS</a> 2019</p>
          </div>
          <div>
              <div class="col-lg-8 col-md-10 mx-auto text-justify">
                <img src="https://i.ibb.co/vYXpNr4/0a4230f2-21a2-45b0-bc14-6361e0fef37e.png" class="rounded w-25 p-3">
                <img src="https://i.ibb.co/LpJ3tSL/logocchla.png" class="rounded w-25 p-3">
                <img src="https://i.ibb.co/Fw7SXFm/logo.png" class="rounded w-25 p-3">
                <img src="https://i.ibb.co/fpsyW6D/cnpq.gif" class="rounded w-25 p-3">
                <img src="https://i.ibb.co/gZy76Ps/ppg.png" class="rounded w-25 p-3">
                <img src="https://i.ibb.co/2WVf4rL/ppgh.jpg" class="rounded w-25 p-3">
              </div>
          </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/pesquisa.js' %}"></script>
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>
