{% extends "base_generic.html" %}

{% block content %}
<div class="col-lg-10 col-md-10 mx-auto">
  <p class="text-justify">A <b>PLATAFORMA SILB</b> é uma base de dados contendo informações das sesmarias concedidas pela Coroa portuguesa
    no mundo atlântico. A Plataforma SILB tem como objetivo facilitar o acesso às informações de quase 16 mil
    cartas de sesmarias concedidas na América portuguesa, tanto por governadores como capitães mores. Pretende-se
    a curto prazo incluir as sesmarias distribuídas na África e nas Ilhas atlânticas. Na petição por uma carta de
    sesmaria, o requerente devia justificar seu pedido, e quando recebesse a carta de concessão havia uma serie
    de obrigações entre as quais estava a necessidade do cultivo, da demarcação e da confirmação real, embora a
    maioria das cartas não tenha sido confirmada pelo rei.</p>
  <br>
  <p>Atualmente com:</p>
  <ul>
    <li><strong>Total de registros sesmariais:</strong> {{ totalRegister }}</li>
    <li><strong>Total de sesmeiros:</strong> {{ totalRegisterQtd }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</div>
{% endblock %}